{% load static %}
{% load index %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>RedCarpetUp - Administrator Loan Approval System</title>
    <meta content="" name="description" />

    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="/static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="/static/vendor/aos/aos.css" rel="stylesheet" />
    <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link
      href="/static/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="/static/css/style.css" rel="stylesheet" />
    <style>
      .container a {
        text-decoration: none;
        color: #0b198f;
      }
    </style>
  </head>
  <body>
  <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <div class="align-items-center">
          <br />
          <h2 align="center">Welcome to RedCarpetUp - Administrator Loan Approval System</h2><br/><br/>
            {% if count > 0 %}
              <table id="mytable" class="table table-bordered">
                  <tr>
                      <th>Request ID</th>
                      <th>Customer First Name</th>
                      <th>Customer Last Name</th>
                      <th>Date of Birth</th>
                      <th>Age</th>
                      <th>Agent Requested</th>
                      <th>Requested Amount</th>
                      <th>Requested Tenure</th>
                      <th>Requested ROI</th>
                      <th>Calculated Monthly Interest</th>
                  </tr>
                  {% for x in length_list %}
                      <tr>
                          <td>{{ requestid|index:x }}</td>
                          <td>{{ firstname|index:x }}</td>
                          <td>{{ lastname|index:x }}</td>
                          <td>{{ dob|index:x }}</td>
                          <td>{{ age|index:x }}</td>
                          <td>{{ agentrequested|index:x }}</td>
                          <td>{{ requestedamount|index:x }}</td>
                          <td>{{ requestedtenure|index:x }}</td>
                          <td>{{ alottedroi|index:x }}</td>
                          <td>{{ monthlyinterest|index:x }}</td>
                      </tr>
                  {% endfor %}
              </table><br/>
              <div class="container" align="center">
                <a class="btn btn-success" href="{% url 'approveview' %}">Approve</a>
                <a class="btn btn-danger" href="{% url 'rejectview' %}">Reject</a>
              </div>
            {% endif %}
            {% if count == 0 %}
                <div class="container align-items-center">
                    <h2 align="center">There are no new loan requests available now!!!</h2>
                </div>
            {% endif %}
          </div>
      </div>
    </section>
  </body>
</html>
